{% load widget_tweaks %}
<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127067482-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-127067482-2');
    </script>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- AnimateOnScroll -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

	<!-- Custom Stylesheet -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "signup/css/login-and-reset.css" %}">
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'assets/img/favicon.ico' %}"/>

	<title>Login - CitrusHack 2019</title>
</head>
<body>
    <div id="content">
    	<nav id="top-nav" class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <div class = "nav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link link-hover" href="{% url 'home' %}">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'login' %}">LOGIN</a>
                        </li>
                    </ul>
                </div>  
            </div>
        </nav>

        <div class="text-center">
            <div class="ui-card text-center" data-aos="fade-in" data-aos-easing="ease-in">
            	<h1>CITRUS HACK</h1>
                {% if next %}
                    {% if user.is_authenticated %}
                    <p>Your account doesn't have access to this page. To proceed,
                    please login with an account that has access.</p>
                    {% else %}
                    <p>Please login to see this page.</p>
                    {% endif %}
                {% endif %}
                <hr>
                {% if form.errors %}
                <div class="error-box">Username or password not correct.<br> Please activate your account if you haven't.</div>            
                {% else %}
                {% endif %}
                <form method="post" action="{% url 'login' %}">
                	{% csrf_token %}
                    {% render_field form.username placeholder=form.username.label class+="input-box" %}
                    <br>
                    {% render_field form.password placeholder=form.password.label class+="input-box" %}
                    <input id="button" type="submit" value="SIGN IN" class="text-center">
                    <input type="hidden" name="next" value="{{ next }}">
                </form>
            	<div class="pw-link-wrapper">
                    <a class="pw-link" href="{% url 'apply' %}">APPLY</a>
                </div>
            	<div class="pw-link-wrapper">
            	   <a class="pw-link" href="{% url 'password_reset' %}">FORGOT PASSWORD?</a>
                </div>
            </div>
        </div>
    </div>
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- AOS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>AOS.init();</script>
</body>
</html>
