<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <!-- AnimateOnScroll -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

	<!-- Custom Stylesheet -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "signup/css/profile.css" %}">

	<title>Login - CitrusHack 2019</title>
</head>
<body>
    <div id="content">
    	<nav id="top-nav" class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <div class = "nav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link link-hover" href="{% url 'home' %}">HOME</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link link-hover" href="{% url 'profile' %}">PROFILE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-hover" href="{% url 'logout' %}">LOGOUT</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link link-hover" href="{% url 'login' %}">LOGIN</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>  
            </div>
        </nav>

        <div class="text-center">
            <div class="ui-card" data-aos="fade-in" data-aos-easing="ease-in">
                <div class = "row">
                	<div class="text-center logo-container col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                        {% load static %}
	                    <img src="{% static "assets/img/shine.png" %}" alt="CitrusHack logo">
	                    {% load static %}
	                    <img src="{% static "assets/img/shine.png" %}">
	                    {% load static %}
	                    <img src="{% static "assets/img/shine.png" %}">
	                    {% load static %}
	                    <img src="{% static "assets/img/shine.png" %}">       
                        <br>        
                    </div> 
                    <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 text-left">
                        <h1 id="name">{{ user.first_name }} {{ user.last_name }}</h1> <!-- <h1 id="name">{user.firstname} {user.lastname}</h1> -->
                        <p id="title">{{ user.profile.description }}</p> <!-- <p id="title">{user.description}</p> -->
                        <p id="email">{{ user.email }}</p> <!-- <p id="email">{user.email}</p>  -->
                    </div>
                </div>
                <br>
                <div id="user-content">
                    <div id="status-view" class="text-center">
                        <h1 class="status">APPLICATION STATUS:</h1>
                        <h2 class="status">{{ user.app_status }}</h2><!-- <h2 class="status">{user.appstatus}</h2>  -->
                    </div>
                    <div id="table-responsive">
                        <table class="table">
                            <tbody>
                                <!-- ACADEMIC -->
                                <tr>
                                    <th scope="row"></th>
                                    <td class="user-sec-label"><span class="label-text">ACADEMIC</span></td>
                                    <td class="attr-name">School:</td>
                                    <td class="user-attr">{{ user.profile.school }}</td> <!-- <td class="user-attr">{user.school}</td> -->
                                </tr>
                                <tr class="no-border">
                                    <th scope="row"></th>
                                    <td></td>
                                    <td class="attr-name">Level of Study:</td>
                                    <td class="user-attr">{{ user.profile.level_of_study}}</td> <!-- <td class="user-attr">{user.level}</td> -->
                                </tr>
                                <tr class="no-border">
                                    <th scope="row"></th>
                                    <td></td>
                                    <td class="attr-name">Grad Year:</td>
                                    <td class="user-attr">{{ user.profile.graduation_year }}</td> <!-- <td class="user-attr">{user.year}</td> -->
                                </tr>
                                <tr class="no-border">
                                    <th scope="row"></th>
                                    <td></td>
                                    <td class="attr-name">Major:</td>
                                    <td class="user-attr">{{ user.profile.major }}</td> <!-- <td class="user-attr">{user.major}</td>  -->
                                </tr>
                                <!-- DEMOGRAPHICS -->
                                <tr>
                                    <th scope="row"></th>
                                    <td class="user-sec-label"><span class="label-text">DEMOGRAPHIC</span></td>
                                    <td class="attr-name">Gender:</td>
                                    <td class="user-attr"> {{ user.profile.gender }}</td> <!-- <td class="user-attr">{user.gender}</td>  -->
                                </tr>
                                <tr class="no-border">
                                    <th scope="row"></th>
                                    <td></td>
                                    <td class="attr-name">Date of Birth:</td>
                                    <td class="user-attr"> {{ user.profile.date_of_birth }}</td> <!-- <td class="user-attr">{user.dob}</td> -->
                                </tr>
                                <tr class="no-border">
                                    <th scope="row"></th>
                                    <td></td>
                                    <td class="attr-name">Race/Ethnicity:</td>
                                    <td class="user-attr">{{ user.profile.race }}</td> <!-- <td class="user-attr">{user.race}</td>  -->
                                </tr>
                                <tr class="no-border">
                                    <th scope="row"></th>
                                    <td></td>
                                    <td class="attr-name">Phone Number:</td>
                                    <td class="user-attr">{{ user.profile.phone_number }}</td> <!-- <td class="user-attr">{user.phone}</td>  -->
                                </tr>
                                <tr class="no-border">
                                    <th scope="row"></th>
                                    <td></td>
                                    <td class="attr-name">Shirt Size:</td>
                                    <td class="user-attr">{{ user.profile.shirt_size }}</td> <!-- <td class="user-attr">{user.}</td>  -->
                                </tr>
                                <tr class="no-border">
                                    <th scope="row"></th>
                                    <td></td>
                                    <td class="attr-name">Dietary Restrictions:</td>
                                    <td class="user-attr">{{ user.profile.dietary_restrictions }}</td> <!-- <td class="user-attr">{user.}</td>  -->
                                </tr>
                                <!-- PROFILE -->
                                <tr>
                                    <th scope="row"></th>
                                    <td class="user-sec-label"><span class="label-text">PROFILE</span></td>
                                    <td class="attr-name">LinkedIn:</td>
                                    <td class="user-attr"><a class="profile-link"href="{{ user.profile.linkedin }}">{{ user.profile.linkedin }}</a></td> <!-- <td class="user-attr"><a class="profile-link"href="{user.linkedin}">{user.linkedin}</a></td>  -->
                                </tr>
                                <tr class="no-border">
                                    <th scope="row"></th>
                                    <td></td>
                                    <td class="attr-name">GitHub:</td>
                                    <td class="user-attr"><a class="profile-link"href="{{ user.profile.github }}">{{ user.profile.github }}</a></td> <!-- <td class="user-attr"><a class="profile-link"href="{user.github}">{user.github}</a></td> -->
                                </tr>
                                <tr class="no-border">
                                    <th scope="row"></th>
                                    <td></td>
                                    <td class="attr-name">Personal:</td>
                                    <td class="user-attr"><a class="profile-link"href="{{ user.profile.additional_link }}">{{ user.profile.additional_link }}</a></td> <!-- <td class="user-attr"><a class="profile-link"href="{user.website}">{user.website}</a></td> -->
                                </tr>
                                <tr class="no-border">
                                    <th scope="row"></th>
                                    <td></td>
                                    <td class="attr-name">Resume:</td>
                                    <td class="user-attr"><a class="profile-link"href="{{ user.profile.resume }}">{{ user.profile.resume }}</a></td> <!-- <td class="user-attr"><a class="profile-link"href="{user.resume}">{user.resume}</a></td> -->
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td class="user-sec-label"><span class="label-text">ESSAY</span></td>
                                    <td class="attr-name"></td>
                                    <td class="user-attr"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <blockquote>
                        <p class="quotation"> 
                            {{ user.profile.learn_or_gain }}
                            <!-- {user.learn/gain} -->
                        </p>
                    <footer> —{{ user.first_name }} {{ user.last_name }}</footer><!-- <footer> —{user.firstname} {user.lastname}</footer>  -->
                    </blockquote> 
                </div>
            </div>
        </div>
        <div id = "footer">
            <p class="text-center">
                <a class="iconSize" href="https://www.facebook.com/CitrusHack/"><i class="fab fa-facebook-f" id="fa-foot"></i></a>
                <a class="iconSize" href="/cdn-cgi/l/email-protection#e88b9d9c818d80898b83a88f85898184c68b8785"><i class="fas fa-envelope" id="em-foot"></i></a>
                <a class="iconSize" href="https://twitter.com/citrushack"><i class="fab fa-twitter" id="tw-foot"></i></a>
                <a class="iconSize" href="https://www.instagram.com/citrushack_ucr/"><i class="fab fa-instagram" id="in-foot"></i></a>
            </p>
            <p class="info-text text-center">
                Made with &#9829; in Riverside, CA<br>
                &#169; 2019 CitrusHack
            </p>
        </div>
    </div>
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- AOS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>AOS.init();</script>
</body>
</html>