<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127067482-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-127067482-2');
    </script>
    
	<!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- AnimateOnScroll -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

	<!-- Custom Stylesheet -->
	{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "signup/css/activate_and_password.css" %}">

	<title>Reset Email Sent - CitrusHack 2019</title>
</head>
<body>
	<div id="content">
		<nav id="top-nav" class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
	        <a class="navbar-brand" href="#"></a>
	        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="navbar-toggler-icon"></span>
	        </button>

	        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
	            <div class = "nav">
	                <ul class="navbar-nav mr-auto">
	                    <li class="nav-item">
	                        <a class="nav-link link-hover" href="{% url 'home' %}">HOME</a>
	                    </li>
	                    <li class="nav-item">
	                        <a class="nav-link link-hover" href="{% url 'login' %}">LOGIN</a>
	                    </li>
	                </ul>
	            </div>  
	        </div>
	    </nav>

		<div class="text-center">
		    <div class="ui-card text-center" data-aos="fade-in" data-aos-easing="ease-in">
		    	<div class="logo-container">
		            {% load static %}
		            <img src="{% static "assets/img/shine.png" %}" alt="CitrusHack logo">
		            {% load static %}
		            <img src="{% static "assets/img/shine.png" %}">
		            {% load static %}
		            <img src="{% static "assets/img/shine.png" %}">
		            {% load static %} 
		            <img src="{% static "assets/img/shine.png" %}">                
		        </div> 
		    	<h1><span id="Citrus">Citrus</span><span id="Hack">Hack</span></h1>
		    	<p class="action-text">We've sent you an email with<br>instructions to reset your password.<br><br>If you didn't receive an email, please and check your spam folder <br>or confirm that you've entered the email address you registered with.</p>
		    </div>
		</div>
	</div>
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- AOS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>AOS.init();</script>
</body>
</html>