<!doctype html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127067482-2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-127067482-2');
        </script>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Secure the Future. Citrus Hack 2019. April 26 - 28"/>
        <meta name="keywords" content="hackathon, ucr, hack, citrus, riverside"/>
        <meta name="author" content="Citrus Hack"/>
        <meta property="og:title" content="Citrus Hack 2019"/>
        <meta property="og:description" content="Secure the Future. Citrus Hack 2019. April 26 - 28"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="https://www.citrushack.com/"/>
        <meta property="og:image:width" content="1920"/>
        <meta property="og:image:height" content="1080"/>
        {% load static %}
        <meta property="og:image" content="{% static 'assets/meta/citrus-cover.png' %}"/>
        {% load static %}
        <meta property="thumbnail" content="{% static 'assets/meta/citrus-icon.png' %}"/>
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:site" content="@citrushack"/>
        <meta name="twitter:title" content="Citrus Hack 2019"/>
        <meta name="twitter:description" content="Secure the Future. Citrus Hack 2019. April 26 - 28"/>
        {% load static %}
        <meta name="twitter:image" content="{% static 'assets/meta/citrus-square.png' %}"/>

        {% load static %}
        <link rel="apple-touch-icon" href="{% static 'assets/meta/citrus-icon.png' %}"/>
        {% load static %}
        <link rel="apple-touch-icon" href="{% static 'assets/meta/apple-icons/apple-touch-icon.png' %}"/>
        {% load static %}
        <link rel="apple-touch-icon" sizes="57x57" href="{% static 'assets/meta/apple-icons/apple-touch-icon-57x57.png' %}"/>
        {% load static %}
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'assets/meta/apple-icons/apple-touch-icon-72x72.png' %}"/>
        {% load static %}
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/meta/apple-icons/apple-touch-icon-76x76.png' %}"/>
        {% load static %}
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'assets/meta/apple-icons/apple-touch-icon-114x114.png' %}"/>
        {% load static %}
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'assets/meta/apple-icons/apple-touch-icon-120x120.png' %}"/>
        {% load static %}
        <link rel="apple-touch-icon" sizes="144x144" href="{% static 'assets/meta/apple-icons/apple-touch-icon-144x144.png' %}"/>
        {% load static %}
        <link rel="apple-touch-icon" sizes="152x152" href="{% static 'assets/meta/apple-icons/apple-touch-icon-152x152.png' %}"/>
        {% load static %}
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/meta/apple-icons/apple-touch-icon-180x180.png' %}"/>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static '/css/live.css' %}">

        {% load static %}
        <link rel="shortcut icon" type="image/png" href="{% static 'assets/img/favicon.png' %}"/>
        <title>Expo - Citrus Hack 2019</title>
    </head>
    <body>
        <div id="root">
            <div class="text-center">
                <div class="section-container" id="expo">
                    <h1>CITRUS HACK EXPO</h1>
                    <div class="leading-block"></div>
                    <div id="expo-table" class="ui-element text-center">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Table</th>
                                    <th scope="col">Project</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
									<td>1</td>
									<th scope="row">Pantrie</th>
								</tr>
								<tr>
									<td>2</td>
									<th scope="row">VRShopper</th>
								</tr>
								<tr>
									<td>3</td>
									<th scope="row">Sleep Itinerary</th>
								</tr>
								<tr>
									<td>4</td>
									<th scope="row">Med-Data</th>
								</tr>
								<tr>
									<td>5</td>
									<th scope="row">X to the Y to the Z</th>
								</tr>
								<tr>
									<td>6</td>
									<th scope="row">Carpuul</th>
								</tr>
								<tr>
									<td>7</td>
									<th scope="row">PMS</th>
								</tr>
								<tr>
									<td>8</td>
									<th scope="row">FakeBlock</th>
								</tr>
								<tr>
									<td>9</td>
									<th scope="row">LockPic</th>
								</tr>
								<tr>
									<td>10</td>
									<th scope="row">Omniscient</th>
								</tr>
								<tr>
									<td>11</td>
									<th scope="row">EvilPi</th>
								</tr>
								<tr>
									<td>12</td>
									<th scope="row">Compatibility Calculator</th>
								</tr>
								<tr>
									<td>13</td>
									<th scope="row">Soy Bowl</th>
								</tr>
								<tr>
									<td>14</td>
									<th scope="row">ReclaimEarth</th>
								</tr>
								<tr>
									<td>15</td>
									<th scope="row">RemindMe</th>
								</tr>
								<tr>
									<td>16</td>
									<th scope="row">Soul Woof</th>
								</tr>
								<tr>
									<td>17</td>
									<th scope="row">Curly Psybot</th>
								</tr>
								<tr>
									<td>18</td>
									<th scope="row">KBBQueue</th>
								</tr>
								<tr>
									<td>19</td>
									<th scope="row">Smart Tank</th>
								</tr>
								<tr>
									<td>20</td>
									<th scope="row">Pushing back the Desert</th>
								</tr>
								<tr>
									<td>21</td>
									<th scope="row">Spotify Controller</th>
								</tr>
								<tr>
									<td>22</td>
									<th scope="row">Citrus2019Submission</th>
								</tr>
								<tr>
									<td>23</td>
									<th scope="row">Roundabout</th>
								</tr>
								<tr>
									<td>24</td>
									<th scope="row">NutriSnap</th>
								</tr>
								<tr>
									<td>25</td>
									<th scope="row">Bag Alert</th>
								</tr>
								<tr>
									<td>26</td>
									<th scope="row">Vocaloid</th>
								</tr>
								<tr>
									<td>27</td>
									<th scope="row">PROJECT: CASCADE</th>
								</tr>
								<tr>
									<td>28</td>
									<th scope="row">Free Thyme</th>
								</tr>
								<tr>
									<td>29</td>
									<th scope="row">Find it!</th>
								</tr>
								<tr>
									<td>30</td>
									<th scope="row">Enviramend</th>
								</tr>
								<tr>
									<td>31</td>
									<th scope="row">Login Page</th>
								</tr>
								<tr>
									<td>32</td>
									<th scope="row">Alarmed</th>
								</tr>
								<tr>
									<td>33</td>
									<th scope="row">Footprint</th>
								</tr>
								<tr>
									<td>34</td>
									<th scope="row">Wizardrio</th>
								</tr>
                            </tbody>
                        </table>
                    </div>
                    {% load static %}
                    <img class="robot" src="{% static "assets/img/robot.png" %}" alt="">
                </div>
            </div>
        </div>        

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        {% load static %}
        <script src="{% static "js/components/app.js" %}"></script>
    </body>

</html>
