<!doctype html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127067482-2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-127067482-2');
        </script>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Secure the Future. Citrus Hack 2019. April 26 - 28"/>
        <meta name="keywords" content="hackathon, ucr, hack, citrus, riverside"/>
        <meta name="author" content="Citrus Hack"/>
        <meta property="og:title" content="Citrus Hack 2019"/>
        <meta property="og:description" content="Secure the Future. Citrus Hack 2019. April 26 - 28"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="https://www.citrushack.com/"/>
        <meta property="og:image:width" content="1920"/>
        <meta property="og:image:height" content="1080"/>
        {% load static %}
        <meta property="og:image" content="{% static 'assets/meta/citrus-cover.png' %}"/>
        {% load static %}
        <meta property="thumbnail" content="{% static 'assets/meta/citrus-icon.png' %}"/>
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:site" content="@citrushack"/>
        <meta name="twitter:title" content="Citrus Hack 2019"/>
        <meta name="twitter:description" content="Secure the Future. Citrus Hack 2019. April 26 - 28"/>
        {% load static %}
        <meta name="twitter:image" content="{% static 'assets/meta/citrus-square.png' %}"/>

        {% load static %}
        <link rel="apple-touch-icon" href="{% static 'assets/meta/citrus-icon.png' %}"/>
        {% load static %}
        <link rel="apple-touch-icon" href="{% static 'assets/meta/apple-icons/apple-touch-icon.png' %}"/>
        {% load static %}
        <link rel="apple-touch-icon" sizes="57x57" href="{% static 'assets/meta/apple-icons/apple-touch-icon-57x57.png' %}"/>
        {% load static %}
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'assets/meta/apple-icons/apple-touch-icon-72x72.png' %}"/>
        {% load static %}
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/meta/apple-icons/apple-touch-icon-76x76.png' %}"/>
        {% load static %}
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'assets/meta/apple-icons/apple-touch-icon-114x114.png' %}"/>
        {% load static %}
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'assets/meta/apple-icons/apple-touch-icon-120x120.png' %}"/>
        {% load static %}
        <link rel="apple-touch-icon" sizes="144x144" href="{% static 'assets/meta/apple-icons/apple-touch-icon-144x144.png' %}"/>
        {% load static %}
        <link rel="apple-touch-icon" sizes="152x152" href="{% static 'assets/meta/apple-icons/apple-touch-icon-152x152.png' %}"/>
        {% load static %}
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/meta/apple-icons/apple-touch-icon-180x180.png' %}"/>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <!-- FontAwesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

        <!-- AnimateOnScroll -->
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static '/css/live.css' %}">

        {% load static %}
        <link rel="shortcut icon" type="image/png" href="{% static 'assets/img/favicon.png' %}"/>
        <title>Live - Citrus Hack 2019</title>
    </head>
    <body>
        <div id="root">
            <div id="sidebar">
                {% load static %}
                <img id="icon" src="{% static "assets/img/icon-no-reflect.png" %}" alt="">
                <h5 class="text-center">CITRUS HACK</h3>
                <div id="countdown" class="text-center">
                    <h6 class="text-center">TIME REMAINING</h4>
                    <div id="timer" class="text-center">35:59:59</div>
                </div>
                <ul id="navigation">
                    <li id="home-link" class="navlink active">HOME</li>
                    <li id="sched-link" class="navlink">SCHEDULE</li>
                    <li id="map-link" class="navlink">MAP</li>
                    <li id="resources-link" class="navlink">RESOURCES</li>
                    <li id="judging-link" class="navlink">JUDGING</li>
                    <li id="expo-link" class="navlink">EXPO FAIR</li>
                </ul>
            </div>
            <div id="main" class="text-center">
                <div class="section-container" id="home" style="margin-top:0">
                    {% load static %}
                    <img class="lantern" src="{% static "assets/img/lantern-02.png" %}" alt="">
                    <h1>CITRUS HACK <span class="h1-sym">2019</span></h1>
                    <h3>SECURE THE FUTURE</h3>
                    <div>
                        <a target="_blank" href="https://citrushack2019.slack.com/">{% load static %}<img class="media-icon hvr-grow" src="{% static "assets/media-icons/slack.png" %}" alt=""></a>
                        <a target="_blank" href="https://citrushack2019.devpost.com/">{% load static %}<img class="media-icon hvr-grow" src="{% static "assets/media-icons/devpost.png" %}" alt=""></a>
                        <a target="_blank" href="https://www.facebook.com/CitrusHack/">{% load static %}<img class="media-icon hvr-grow" src="{% static "assets/media-icons/fb.png" %}" alt=""></a>
                        <a target="_blank" href="https://twitter.com/citrushack">{% load static %}<img class="media-icon hvr-grow" src="{% static "assets/media-icons/twitter.png" %}" alt=""></a>
                        <a target="_blank" href="https://www.instagram.com/citrushack_ucr/">{% load static %}<img class="media-icon hvr-grow" src="{% static "assets/media-icons/insta.png" %}" alt=""></a>
                    </div>
                    {% load static %}
                    <img class="lantern" src="{% static "assets/img/lantern-01.png" %}" alt="">
                    <h2>SPONSORS</h2>
                    <div class="row">
                        <div class="col-12 text-center first-tier">
                            <a target="_blank" href="https://www.equipovision.com/">
                                {% load static %}
                                <img class="hvr-grow sponsor-light" src="{% static "assets/supporters/sponsor/equipo.png" %}" alt="EquipoVision">
                            </a>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 text-center third-tier">
                            <a target="_blank" href="https://www.microsoft.com/">
                                {% load static %}
                                <img class="hvr-grow sponsor-light" src="{% static "assets/supporters/sponsor/microsoft-logo-white.png" %}" alt="Microsoft">
                            </a>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 text-center third-tier">
                            <a target="_blank" href="https://www.esri.com/en-us/home">
                                {% load static %}
                                <img class="hvr-grow sponsor-light" src="{% static "assets/supporters/sponsor/esri.png" %}" alt="Esri">
                            </a>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 text-center third-tier">
                            <a target="_blank" href="https://github.com/">
                                {% load static %}
                                <img class="hvr-grow sponsor-light" src="{% static "assets/supporters/sponsor/GitHub_Logo_White.png" %}" alt="GitHub">
                            </a>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 text-center third-tier">
                            <a target="_blank" href="https://www.ucreduotp.net/">
                                {% load static %}
                                <img class="hvr-grow sponsor-light" src="{% static "assets/supporters/sponsor/ucrotp.png" %}" alt="UC Riverside - Office of Technology Partnerships">
                            </a>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 text-center fourth-tier">
                            <a target="_blank" href="https://www.coxautoinc.com/">
                                {% load static %}
                                <img id="microsoft" class="hvr-grow sponsor-light" src="{% static "assets/supporters/sponsor/cox.png" %}" alt="Cox Automotive">
                            </a>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 text-center fourth-tier">
                            <a target="_blank" href="http://linode.com">
                            {% load static %}
                            <img class="hvr-grow sponsor-light" src="{% static "assets/supporters/sponsor/linode.png" %}" alt="Linode">
                          </a>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 text-center fourth-tier">
                            <a target="_blank" href="https://www.haascnc.com/index.html">
                            {% load static %}
                            <img class="hvr-grow sponsor-light" src="{% static "assets/supporters/sponsor/haas.png" %}" alt="Haas Automation">
                          </a>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 text-center fourth-tier">
                          <a target="_blank" href="https://cloud.google.com/">
                            {% load static %}
                            <img src="{% static "assets/supporters/sponsor/gcp.png" %}" alt="Google Cloud Platform" class="hvr-grow sponsor-light" width="50%">
                          </a>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 text-center fourth-tier">
                            <a target="_blank" href="https://twilio.com">
                                {% load static %}
                                <img class="hvr-grow sponsor-light" src="{% static "assets/supporters/sponsor/twilio.png" %}" alt="Twilio">
                            </a>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 text-center fourth-tier">
                            <a target="_blank" href="https://www.badabeansnacks.com/">
                                {% load static %}
                                <img class="hvr-grow sponsor-light" src="{% static "assets/supporters/sponsor/bbbb.png" %}" alt="Bada Bean Bada Boom">
                            </a>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 text-center fourth-tier">
                            <a target="_blank" href="https://eatbobos.com/">
                                {% load static %}
                                <img class="hvr-grow sponsor-light" src="{% static "assets/supporters/sponsor/bobos.png" %}" alt="Bobo's Baked Goods">
                            </a>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 text-center fourth-tier">
                            <a target="_blank" href="http://bit.ly/2WsHlhZ">
                                {% load static %}
                                <img class="hvr-grow sponsor-light" src="{% static "assets/supporters/sponsor/challengerocket.png" %}" alt="Challenge Rocket">
                            </a>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 text-center fourth-tier">
                            <a target="_blank" href="https://www.hacker.fund/">
                                {% load static %}
                                <img class="hvr-grow sponsor-light" src="{% static "assets/supporters/sponsor/hackerfund.png" %}" alt="Hacker Fund">
                            </a>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 text-center fourth-tier">
                            <a target="_blank" href="https://digitalocean.com">
                                {% load static %}
                                <img class="hvr-grow sponsor-light" src="{% static "assets/supporters/sponsor/digitalocean.png" %}" alt="Digital Ocean">
                            </a>
                        </div>
                        <div id="gigabyte" class="col-xl-4 col-lg-4 col-md-4 col-sm-12 text-center fourth-tier">
                            <a target="_blank" href="https://www.gigabyte.com/">
                                {% load static %}
                                <img class="hvr-grow sponsor-light" src="{% static "assets/supporters/sponsor/gigabyte.svg" %}" alt="Gigabyte">
                            </a>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 text-center fourth-tier">
                            <a target="_blank" href="https://www.sketch.com/">
                                {% load static %}
                                <img class="hvr-grow sponsor-light" src="{% static "assets/supporters/sponsor/sketch.png" %}" alt="Sketch">
                            </a>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 text-center fourth-tier">
                            <a target="_blank" href="https://xyz.xyz/">
                                {% load static %}
                                <img class="hvr-grow sponsor-light" src="{% static "assets/supporters/sponsor/xyz.png" %}" alt="XYZ">
                            </a>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 text-center fourth-tier">
                            <a target="_blank" href="https://www.zesttea.com/">
                                {% load static %}
                                <img class="hvr-grow sponsor-light" src="{% static "assets/supporters/sponsor/zesttea.png" %}" alt="Zest Tea">
                            </a>
                        </div>
                    </div>
                    <h2>ORGANIZERS</h2>
                    <div class="row align-items-center">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 text-center second-tier">
                            <a target="_blank" href="http://acmucr.org">
                                {% load static %}
                                <img class="hvr-grow sponsor-light" src="{% static "assets/supporters/org/acm.png" %}" alt="ACM at UCR logo">
                            </a>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 text-center second-tier">
                            <a target="_blank" href="https://ieee.ee.ucr.edu/">
                                {% load static %}
                                <img class="hvr-grow sponsor-light" src="{% static "assets/supporters/org/ieee.png" %}" alt="IEEE logo">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="section-container hidden" id="schedule">
                    <h1>SCHEDULE OF EVENTS</h1>
                    <div class="leading-block"></div>
                    <div class="ui-element text-center" style="margin-bottom:0;">
                        <h2>FRIDAY<span class="h2-sym">,</span> APRIL <span class="h2-sym">26</span></h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Time</th>
                                    <th scope="col">Event</th>
                                    <th scope="col">Location</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">5:00-9:00pm</th>
                                    <td>Registration</td>
                                    <td>UNLH</td>
                                </tr>
                                <tr>
                                    <th scope="row">7:00pm</th>
                                    <td>Dinner - Marcello's Pizza</td>
                                    <td>PLCHLDR</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    {% load static %}
                    <img class="lantern" src="{% static "assets/img/lantern-02.png" %}" alt="" style="-moz-transform: scaleX(-1);-o-transform: scaleX(-1);-webkit-transform: scaleX(-1);transform: scaleX(-1);filter: FlipH;">
                    <div class="ui-element text-center" style="margin-top:0;margin-bottom:0;">
                        <h2>SATURDAY<span class="h2-sym">,</span> APRIL <span class="h2-sym">27</span></h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Time</th>
                                    <th scope="col">Event</th>
                                    <th scope="col">Location</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">5:00-9:00pm</th>
                                    <td>Registration</td>
                                    <td>UNLH</td>
                                </tr>
                                <tr>
                                    <th scope="row">7:00pm</th>
                                    <td>Dinner - Marcello's Pizza</td>
                                    <td>PLCHLDR</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    {% load static %}
                    <img class="lantern" src="{% static "assets/img/lantern-01.png" %}" alt="">
                    <div class="ui-element text-center" style="margin-top:0;">
                        <h2>SUNDAY<span class="h2-sym">,</span> APRIL <span class="h2-sym">28</span></h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Time</th>
                                    <th scope="col">Event</th>
                                    <th scope="col">Location</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">5:00-9:00pm</th>
                                    <td>Registration</td>
                                    <td>UNLH</td>
                                </tr>
                                <tr>
                                    <th scope="row">7:00pm</th>
                                    <td>Dinner - Marcello's Pizza</td>
                                    <td>PLCHLDR</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    {% load static %}
                    <img class="robot" src="{% static "assets/img/robot.png" %}" alt="">
                </div>
                <div class="section-container hidden" id="map">
                    <h1>EVENT MAP</h1>
                    <div class="leading-block"></div>
                    <div class="ui-element text-center" id="map-container">
                        {% load static %}
                        <img class="Citrus Hack Map" src="{% static "assets/img/map.png" %}" alt="" style="width:100%">
                    </div>
                </div>
                <div class="section-container hidden" id="judging">
                    <h1>JUDGING CATEGORIES</h1>
                    <div class="leading-block"></div>
                    <div class="ui-element text-center">
                        
                    </div>
                    <h1>ESTEEMED JUDGES</h1>
                    <div class="leading-block"></div>
                    <div id="judges-container">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                                {% load static %}
                                <img class="judge" src="{% static "assets/judges/jihwan.png" %}" alt="">
                                <p class="judge-name">JiHwan Kim</p>
                                <p class="judge-title">President<br>UCR Competitive Programming</p>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                                {% load static %}
                                <img class="judge" src="{% static "assets/judges/jihwan.png" %}" alt="">
                                <p class="judge-name">JiHwan Kim</p>
                                <p class="judge-title">Co-Director of Event Coordination<br>ACM UCR</p>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                                {% load static %}
                                <img class="judge" src="{% static "assets/judges/jihwan.png" %}" alt="">
                                <p class="judge-name">JiHwan Kim</p>
                                <p class="judge-title">(Former) Treasurer<br>Cyber@UCR</p>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                                {% load static %}
                                <img class="judge" src="{% static "assets/judges/jihwan.png" %}" alt="">
                                <p class="judge-name">JiHwan Kim</p>
                                <p class="judge-title">Lead Web Developer<br>Citrus Hack</p>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                                {% load static %}
                                <img class="judge" src="{% static "assets/judges/jihwan.png" %}" alt="">
                                <p class="judge-name">JiHwan Kim</p>
                                <p class="judge-title">Wonderful Human Being</p>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                                {% load static %}
                                <img class="judge" src="{% static "assets/judges/jihwan.png" %}" alt="">
                                <p class="judge-name">JiHwan Kim</p>
                                <p class="judge-title">The definition of "the homie"</p>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                                {% load static %}
                                <img class="judge" src="{% static "assets/judges/jihwan.png" %}" alt="">
                                <p class="judge-name">JiHwan Kim</p>
                                <p class="judge-title">International Treasure</p>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                                {% load static %}
                                <img class="judge" src="{% static "assets/judges/jihwan.png" %}" alt="">
                                <p class="judge-name">JiHwan Kim</p>
                                <p class="judge-title">Loving Husband and Father</p>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                                {% load static %}
                                <img class="judge" src="{% static "assets/judges/jihwan.png" %}" alt="">
                                <p class="judge-name">JiHwan Kim</p>
                                <p class="judge-title">Good with kids and pets</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-container hidden" id="expo">
                    <h1>CITRUS HACK EXPO</h1>
                    <div class="leading-block"></div>
                    <div id="expo-table" class="ui-element text-center">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Table</th>
                                    <th scope="col">Project</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <th scope="row">Breadcrumb</th>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <th scope="row">IoTea</th>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <th scope="row">Pixl</th>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <th scope="row">Breadcrumb</th>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <th scope="row">Reservoir</th>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <th scope="row">Go-Bot</th>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <th scope="row">Lune</th>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <th scope="row">Azurite</th>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <th scope="row">IoTea</th>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <th scope="row">scattertech</th>
                                </tr>
                                <tr>
                                    <td>11</td>
                                    <th scope="row">Lune</th>
                                </tr>
                                <tr>
                                    <td>12</td>
                                    <th scope="row">Morning Glory</th>
                                </tr>
                                <tr>
                                    <td>13</td>
                                    <th scope="row">scattertech</th>
                                </tr>
                                <tr>
                                    <td>14</td>
                                    <th scope="row">IoTea</th>
                                </tr>
                                <tr>
                                    <td>15</td>
                                    <th scope="row">scattertech</th>
                                </tr>
                                <tr>
                                    <td>16</td>
                                    <th scope="row">wonderkey</th>
                                </tr>
                                <tr>
                                    <td>17</td>
                                    <th scope="row">Aether Tides</th>
                                </tr>
                                <tr>
                                    <td>18</td>
                                    <th scope="row">Azurite</th>
                                </tr>
                                <tr>
                                    <td>19</td>
                                    <th scope="row">Pixl</th>
                                </tr>
                                <tr>
                                    <td>20</td>
                                    <th scope="row">scattertech</th>
                                </tr>
                                <tr>
                                    <td>21</td>
                                    <th scope="row">wonderkey</th>
                                </tr>
                                <tr>
                                    <td>22</td>
                                    <th scope="row">IoTea</th>
                                </tr>
                                <tr>
                                    <td>23</td>
                                    <th scope="row">scattertech</th>
                                </tr>
                                <tr>
                                    <td>24</td>
                                    <th scope="row">wonderkey</th>
                                </tr>
                                <tr>
                                    <td>25</td>
                                    <th scope="row">Lune</th>
                                </tr>
                                <tr>
                                    <td>26</td>
                                    <th scope="row">IoTea</th>
                                </tr>
                                <tr>
                                    <td>27</td>
                                    <th scope="row">Morning Glory</th>
                                </tr>
                                <tr>
                                    <td>28</td>
                                    <th scope="row">wonderkey</th>
                                </tr>
                                <tr>
                                    <td>29</td>
                                    <th scope="row">Lune</th>
                                </tr>
                                <tr>
                                    <td>30</td>
                                    <th scope="row">Morning Glory</th>
                                </tr>
                                <tr>
                                    <td>31</td>
                                    <th scope="row">Breadcrumb</th>
                                </tr>
                                <tr>
                                    <td>32</td>
                                    <th scope="row">IoTea</th>
                                </tr>
                                <tr>
                                    <td>33</td>
                                    <th scope="row">Breadcrumb</th>
                                </tr>
                                <tr>
                                    <td>34</td>
                                    <th scope="row">Reservoir</th>
                                </tr>
                                <tr>
                                    <td>35</td>
                                    <th scope="row">IoTea</th>
                                </tr>
                                <tr>
                                    <td>36</td>
                                    <th scope="row">Breadcrumb</th>
                                </tr>
                                <tr>
                                    <td>37</td>
                                    <th scope="row">Aether Tides</th>
                                </tr>
                                <tr>
                                    <td>38</td>
                                    <th scope="row">wonderkey</th>
                                </tr>
                                <tr>
                                    <td>39</td>
                                    <th scope="row">Reservoir</th>
                                </tr>
                                <tr>
                                    <td>40</td>
                                    <th scope="row">IoTea</th>
                                </tr>
                                <tr>
                                    <td>41</td>
                                    <th scope="row">Lune</th>
                                </tr>
                                <tr>
                                    <td>42</td>
                                    <th scope="row">Reservoir</th>
                                </tr>
                                <tr>
                                    <td>43</td>
                                    <th scope="row">Lune</th>
                                </tr>
                                <tr>
                                    <td>44</td>
                                    <th scope="row">Go-Bot</th>
                                </tr>
                                <tr>
                                    <td>45</td>
                                    <th scope="row">scattertech</th>
                                </tr>
                                <tr>
                                    <td>46</td>
                                    <th scope="row">Go-Bot</th>
                                </tr>
                                <tr>
                                    <td>47</td>
                                    <th scope="row">Breadcrumb</th>
                                </tr>
                                <tr>
                                    <td>48</td>
                                    <th scope="row">wonderkey</th>
                                </tr>
                                <tr>
                                    <td>49</td>
                                    <th scope="row">Reverbium</th>
                                </tr>
                                <tr>
                                    <td>50</td>
                                    <th scope="row">Reservoir</th>
                                </tr>
                                <tr>
                                    <td>51</td>
                                    <th scope="row">Reverbium</th>
                                </tr>
                                <tr>
                                    <td>52</td>
                                    <th scope="row">Morning Glory</th>
                                </tr>
                                <tr>
                                    <td>53</td>
                                    <th scope="row">Lune</th>
                                </tr>
                                <tr>
                                    <td>54</td>
                                    <th scope="row">Reverbium</th>
                                </tr>
                                <tr>
                                    <td>55</td>
                                    <th scope="row">Reverbium</th>
                                </tr>
                                <tr>
                                    <td>56</td>
                                    <th scope="row">IoTea</th>
                                </tr>
                                <tr>
                                    <td>57</td>
                                    <th scope="row">Reverbium</th>
                                </tr>
                                <tr>
                                    <td>58</td>
                                    <th scope="row">Azurite</th>
                                </tr>
                                <tr>
                                    <td>59</td>
                                    <th scope="row">wonderkey</th>
                                </tr>
                                <tr>
                                    <td>60</td>
                                    <th scope="row">scattertech</th>
                                </tr>
                                <tr>
                                    <td>61</td>
                                    <th scope="row">IoTea</th>
                                </tr>
                                <tr>
                                    <td>62</td>
                                    <th scope="row">Azurite</th>
                                </tr>
                                <tr>
                                    <td>63</td>
                                    <th scope="row">Morning Glory</th>
                                </tr>
                                <tr>
                                    <td>64</td>
                                    <th scope="row">IoTea</th>
                                </tr>
                                <tr>
                                    <td>65</td>
                                    <th scope="row">IoTea</th>
                                </tr>
                                <tr>
                                    <td>66</td>
                                    <th scope="row">Breadcrumb</th>
                                </tr>
                                <tr>
                                    <td>67</td>
                                    <th scope="row">scattertech</th>
                                </tr>
                                <tr>
                                    <td>68</td>
                                    <th scope="row">Go-Bot</th>
                                </tr>
                                <tr>
                                    <td>69</td>
                                    <th scope="row">Reverbium</th>
                                </tr>
                                <tr>
                                    <td>70</td>
                                    <th scope="row">IoTea</th>
                                </tr>
                                <tr>
                                    <td>71</td>
                                    <th scope="row">Azurite</th>
                                </tr>
                                <tr>
                                    <td>72</td>
                                    <th scope="row">scattertech</th>
                                </tr>
                                <tr>
                                    <td>73</td>
                                    <th scope="row">Aether Tides</th>
                                </tr>
                                <tr>
                                    <td>74</td>
                                    <th scope="row">Morning Glory</th>
                                </tr>
                                <tr>
                                    <td>75</td>
                                    <th scope="row">Reverbium</th>
                                </tr>
                                <tr>
                                    <td>76</td>
                                    <th scope="row">Lune</th>
                                </tr>
                                <tr>
                                    <td>77</td>
                                    <th scope="row">IoTea</th>
                                </tr>
                                <tr>
                                    <td>78</td>
                                    <th scope="row">Reservoir</th>
                                </tr>
                                <tr>
                                    <td>79</td>
                                    <th scope="row">IoTea</th>
                                </tr>
                                <tr>
                                    <td>80</td>
                                    <th scope="row">Lune</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    {% load static %}
                    <img class="robot" src="{% static "assets/img/robot.png" %}" alt="">
                </div>
            </div>
        </div>        

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        {% load static %}
        <script src="{% static "js/components/app.js" %}"></script>
    </body>

</html>
