@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,400,700|Work+Sans:500,700');

body{
	overflow-x: hidden;
	background-color: #141924;
}

#top-nav {
	position: fixed;
    left: 0;
    right: 0;
	border-width: 0px !important;
    -webkit-box-shadow: 0px 0px !important;
    box-shadow: 0px 0px !important;
    background-color: rgba(0,0,0,0.0) !important;
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00))) !important;
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%) !important;
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%) !important;
}

.nav-item {
	margin-left: 14px;
	margin-right: 14px;
}

.nav-link {
	font-family: Titillium Web;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	letter-spacing: 0.05em;
	color: white !important;
	position: relative;
}

.link-hover:after {
	content:"";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #39B188;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.link-hover:hover:after {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

#form-container{
	font-family: Titillium Web;
	margin-top:15vh;
	padding-left: 15vw;
	padding-right: 15vw;
	margin-bottom:15vh;
}

img {
	height: 100px;
	width: auto;
}


.logo-container {
	margin-left:auto;
	margin-right:auto;
	height:100px;
	width:100px;
}

.logo-container img {
	margin:auto;
	position: absolute;
	display:block;
	transition: 0.25s;
	transition-timing-function: ease-out;
	
}

.logo-container:hover img:nth-child(1){
	-webkit-transform: translate(30px, 0px);
	-moz-transform: translate(30px, 0px);
	transform: translate(30px, 0px);
}

.logo-container:hover img:nth-child(2){
	-webkit-transform: translate(10px, 0px);
	-moz-transform: translate(10px, 0px);
	transform: translate(10px, 0px);
	opacity: .7;
}

.logo-container:hover img:nth-child(3){
	-webkit-transform: translate(-10px, 0px);
	-moz-transform: translate(-10px, 0px);
	transform: translate(-10px, 0px);	
	opacity: .4;
}

.logo-container:hover img:nth-child(4){
	-webkit-transform: translate(-30px, 0px);
	-moz-transform: translate(-30px, 0px);
	transform: translate(-30px, 0px);
	opacity: .1;
}

#citrus-hack {
	font-style: normal;
	color: white;
	letter-spacing: 0.1em;
}

#Citrus {
	font-weight: 400;
}

#Hack {
	font-weight: 700;
}

h1 {
	margin-top: 30px;
	margin-bottom: 30px;

	color: #03A8E8;
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	letter-spacing: 0.1em;

	color: #03A8E8;
}

h3 {
	margin-top: 30px;
	margin-bottom: 30px;
	font-weight: normal;
	font-size: 20px;
	letter-spacing: 0.1em;

	color: #329C80;
}

label {
	/*letter-spacing: .2rem;*/
	color: #C5C5C5;
	margin-bottom: 2px !important;
}

input {
	margin-bottom: 8px;
}

select {
	margin-bottom: 8px !important;
}

textarea {
	margin-bottom: 8px !important;
}

#resume {
	margin: 0 !important;
}

small {
	font-weight:700;
	margin:0;
	letter-spacing: .1rem;
	color:#E33D3D;
}

small.essay-text {
	color:#ffffff;
}

p {
	font-weight:700;
	color: #dddddd;
}

.required:after{
	content:" *";
	color: #E33D3D;
}

.button {
	cursor: pointer;
	padding: 14px;
	text-align: center;
	letter-spacing: 0.1em;
	color: #FFFFFF;	
	font-size:20px;
	letter-spacing: 0.1em;
	background: linear-gradient(360deg, #229196 0%, #6AD8DC 100%);
	border: 3px solid #229196;
	box-sizing: border-box;
	border-radius: 12px;
}

small.essay-length-good{
	color: #329C80 !important;
}