
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,400,700|Work+Sans:500,700');

body{
	overflow-x: hidden;
	background-color: #141924;
}

svg{
	margin:7px;
}

#top-nav {
	position: fixed;
    left: 0;
    right: 0;
	border-width: 0px !important;
    -webkit-box-shadow: 0px 0px !important;
    box-shadow: 0px 0px !important;
    background-color: rgba(0,0,0,0.0) !important;
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00))) !important;
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%) !important;
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%) !important;
}

.nav-item {
	margin-left: 14px;
	margin-right: 14px;
}

.nav-link {
	font-family: Titillium Web;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	letter-spacing: 0.05em;
	color: white !important;
	position: relative;
}

.link-hover:after {
	content:"";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #39B188;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.link-hover:hover:after {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

.active:after{
	content:"";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #39B188;
}

#main-hero {
	background-color: #141924;
	background-image: url("../assets/img/mainhero.png");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	height: 100vh;
	width: 100vw;
}

#main-titles{
	text-align:center;
  	position: absolute;
  	margin: auto;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	width: 75%;
  	height: 475px;
  	line-height: 40px;
  	letter-spacing: 0.1em;
}

.logo-container {
	margin-left:auto;
	margin-right:auto;
	height:200px;
	width:200px;
}

.logo-container img {
	margin:auto;
	position: absolute;
	display:block;
	height:200px;
	width:200px;
	transition: 0.25s;
	transition-timing-function: ease-out;
	
}

.logo-container:hover img:nth-child(1){
	-webkit-transform: translate(30px, 0px);
	-moz-transform: translate(30px, 0px);
	transform: translate(30px, 0px);
}

.logo-container:hover img:nth-child(2){
	-webkit-transform: translate(10px, 0px);
	-moz-transform: translate(10px, 0px);
	transform: translate(10px, 0px);
	opacity: .7;
}

.logo-container:hover img:nth-child(3){
	-webkit-transform: translate(-10px, 0px);
	-moz-transform: translate(-10px, 0px);
	transform: translate(-10px, 0px);	
	opacity: .4;
}

.logo-container:hover img:nth-child(4){
	-webkit-transform: translate(-30px, 0px);
	-moz-transform: translate(-30px, 0px);
	transform: translate(-30px, 0px);
	opacity: .1;
}



/*CITRUS HACK logo-text SVG STYLES*/

#logo-text {
	width:50%;
	-webkit-text-shadow: 0px 11px 15px 3px rgba(0,0,0,0.25);
	-moz-text-shadow: 0px 11px 15px 3px rgba(0,0,0,0.25);
	text-shadow: 0px 11px 15px 3px rgba(0,0,0,0.25);
	animation: fill 0.5s ease forwards 0.75s;
}

/*C*/
#logo-text path:nth-child(2){
	stroke-dasharray: 364px;
	stroke-dashoffset: 364px;
	animation: line-anim 0.5s ease forwards 0.1s;
	
}

/*I*/
#logo-text path:nth-child(3){
	stroke-dasharray: 178px;
	stroke-dashoffset: 178px;
	animation: line-anim 0.5s ease forwards 0.15s;
	
}

/*T*/
#logo-text path:nth-child(4){
	stroke-dasharray: 301px;
	stroke-dashoffset: 301px;
	animation: line-anim 0.5s ease forwards 0.2s;

}

/*R*/
#logo-text path:nth-child(5){
	stroke-dasharray: 227px;
	stroke-dashoffset: 227px;
	animation: line-anim 0.5s ease forwards 0.25s;

}

/*U*/
#logo-text path:nth-child(6){
	stroke-dasharray: 351px;
	stroke-dashoffset: 351px;
	animation: line-anim 0.5s ease forwards 0.3s;

}

/*S*/
#logo-text path:nth-child(7){
	stroke-dasharray: 347px;
	stroke-dashoffset: 347px;
	animation: line-anim 0.5s ease forwards 0.35s;

}

/*H*/
#logo-text path:nth-child(8){
	stroke-dasharray: 426px;
	stroke-dashoffset: 426px;
	animation: line-anim 0.5s ease forwards 0.4s;

}

/*A*/
#logo-text path:nth-child(9){
	stroke-dasharray: 265px;
	stroke-dashoffset: 265px;
	animation: line-anim 0.5s ease forwards 0.45s;

}

/*C*/
#logo-text path:nth-child(10){
	stroke-dasharray: 238px;
	stroke-dashoffset: 238px;
	animation: line-anim 0.5s ease forwards 0.5s;

}

/*K*/
#logo-text path:nth-child(11){
	stroke-dasharray: 356px;
	stroke-dashoffset: 356px;
	animation: line-anim 0.5s ease forwards 0.55s;

}

@keyframes line-anim{
	to {
		stroke-dashoffset: 0px;
	}
}

@keyframes fill{
	from{
		fill: transparent;
	}
	to {
		fill: white;
	}
}

#subtitles-1 {
	width: 45%;
	-webkit-text-shadow: 0px 11px 15px 3px rgba(0,0,0,0.25);
	-moz-text-shadow: 0px 11px 15px 3px rgba(0,0,0,0.25);
	text-shadow: 0px 11px 15px 3px rgba(0,0,0,0.25);
	animation: fill-sub 0.5s ease forwards 0.9s;
}

#subtitles-1 path{
	stroke-dasharray: 180px;
	stroke-dashoffset: 180px;
	animation: line-anim-2 0.23s ease forwards .83s;
}

@keyframes line-anim-2{
	to {
		stroke-dashoffset: 0px;
	}
}

@keyframes fill-sub{
	from{
		fill: transparent;
	}
	to {
		fill: #35CDD4;
	}
}

#subtitles-2 {
	width: 40%;
	-webkit-text-shadow: 0px 11px 15px 3px rgba(0,0,0,0.25);
	-moz-text-shadow: 0px 11px 15px 3px rgba(0,0,0,0.25);
	text-shadow: 0px 11px 15px 3px rgba(0,0,0,0.25);
	animation: fill-sub-2 0.5s ease forwards 1s;
}

#subtitles-2 path{
	stroke-dasharray: 180px;
	stroke-dashoffset: 180px;
	animation: line-anim-3 0.23s ease forwards 0.86s;
}

@keyframes line-anim-3{
	to {
		stroke-dashoffset: 0px;
	}
}

@keyframes fill-sub-2{
	from{
		fill: transparent;
	}
	to {
		fill: #35CDD4;
	}
}

#apply-button {
	background: linear-gradient(#3EE8BB 0%, #329C80 100%);
	box-sizing: border-box;
	border-radius: 12px;
	display: inline-block;
	padding: 14px;
	font-family: Titillium Web;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	text-align: center;
	letter-spacing: 0.1em;
	color: #FFFFFF;	
}

.panel-type-1{
	padding: 7%;
	background-color: #141924;
}

.titles {
	font-family: Titillium Web;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	letter-spacing: 0.1em;
}

.panel-1-title {
	color: #B6B6B6;
}

.info-text {
	font-family: Work Sans;
	font-style: normal;
	font-weight: 500;
	line-height: 1.75em;
	font-size: 20px;
	letter-spacing: 0.05em;

	color: #B6B6B6;
}

.panel-type-2 {
	padding: 5%;
	background-image: linear-gradient(0.92deg, #0A0C13 4.79%, #0A0C13 4.81%, #0F121C 131.16%);
}

#numbers {
	lineheight: 1rem;
}

.number-text {
	color: #319B8B;
	font-family: Titillium Web;
	font-size: 63px;
	letter-spacing: 0.1em;
}

.number {
	font-weight: bold;
	color: #cccccc;
}

.count {
	font-weight: 200;
	font-size: 28px;
}

.track-card {
	padding:2%;
	background-image: linear-gradient(180deg, #303030 0%, #202020 100%);
	border-style: solid;
	border-width: 5px;
	border-color: #141924;
	transition-duration: 0.5s;
}

.track-card:hover {
	border-color: rgba(115,115,115,1);
	-webkit-box-shadow: 0px 0px 28px 0px rgba(115,115,115,1);
	-moz-box-shadow: 0px 0px 28px 0px rgba(115,115,115,1);
	box-shadow: 0px 0px 28px 0px rgba(115,115,115,1);
}

.track-icon {
	height:auto;
	width:75px;
}

.track-title {
	margin-top:10px;
	font-family: Work Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	color: #ffffff;
}

.track-text {
	font-family: Work Sans;
	font-style: normal;
	font-weight: 500;
	color: #ffffff;
}

.volunteer-text {
	color: #ffffff;
}

.volunteer-emblem {
	transition: 0.4s;
}

.volunteer-emblem:hover {
	-webkit-transform: translate(0px,-12px);
	-moz-transform: translate(0px,-12px);
	transform: translate(0px,-12px);
}

.helper-title {
	font-family: Titillium Web;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	letter-spacing: 0.05em;
}

.card {
	border-radius: 0px;
	background-color: #292929;
	color: #E5E5E5;
	
	font-family: Work Sans;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	font-size: 16px;
	letter-spacing: 0.05em;
}

.card-header {
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #A83633;
	cursor: pointer;
}

.question-text {
	font-family: Work Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	letter-spacing: 0.15em;
}

.question-text:after {
	content:"-";
	float: right;
    color: inherit;
}

.question-text.collapsed:after {
	content:"+";
	float: right;
    color: inherit;
}

#time-and-place {
	color: #465A88;
}

#time-and-place-text {
	font-family: Work Sans;
	font-style: normal;
	font-weight: 500;
	line-height: 1.5em;
	font-size: 20px;
	letter-spacing: 0.05em;

	color: #465A88;
}

#address {
	font-size: 14px;
}

.sp-link {
	color: white;
}

.sp-link:hover {
	text-decoration:none;
	color: white;
}

/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

.section-heading {
  font-size: 5em;
  font-weight: 700;
  text-align: center;
}

.first-tier>a>img {
  width: 50%;
}

.col-xl-6>a>img {
  width: 50%;
}

.col-xl-4>a>img {
  width: 50%;
}

.first-tier {
	margin-top:36px;
	margin-bottom:36px;
}

.second-tier {
	margin-top:12px;
	margin-bottom:12px;
}

#footer {
	padding: 2%;
	background-color: #0a0c13;
}

.iconSize {
	text-decoration:none;
	color: #bbbbbb;
	font-size: 175%;
	margin: 2.5%;
	margin-top: 1%;
	transition:300ms;
}

.iconSize:hover {
	color:white;
}
